{% extends 'index.html' %}
{% block title %} <title>About</title> {% endblock %}
{% block nav %}
	<li class="nav-item">
		<a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
	</li>
	{% if user.is_authenticated %}
		<li class="nav-item">
			<a class="nav-link" id="MySeries" href="{{ request.session.layout }}">My Series</a>
		</li>
	{% endif %}
		<li class="nav-item">
			<a class="nav-link active" href="{% url 'about' %}">About</a>
		</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'report' %}">Report a Bug</a>
	</li>
{% endblock %}
{% block content %}
<h1 style="text-align: center;">Episode Tracker</h1>
<div style="font-size: 20px; width: 50%; position: absolute; left: 28%;">
<p>This website allows you track how many episodes you've watched in a series.</p>
<p>
Your streaming site may already have this feature but it's not that reliable because they are stored in browsers (session/cookies, browser cache, browser's local Storage/session Storage). All of which can get easily deleted if your browser gets updated, reinstalled or if you're watching on a different browser or on a different machine.
</p>
<p>
	There are some TV series that are notoriously long. It's easy to get lost and forget where were you, this is where our website comes in rescue.
</p>
<p>
	You can create/add series <a style="color: blue;" href="/series">here</a>, each series can have multiple seasons if you want to track series with multiple seasons just check "My series contain multiple seasons" when you add a series doing so would allow you to track multiple seasons separately, unchecking this option would allow you to track episodes within series directly.  
</p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}