{% extends 'index.html' %}
{% block title %} <title>About</title> {% endblock %}
{% block content %}
<h1 style="text-align: center;">Episode Tracker Web App</h1>
<div style="font-size: 20px; width: 50%; position: absolute; left: 28%;">
<p>This website allows you track how many episodes you've watched in a series.</p>
<p>
Your streaming site may already have this feature but it's not that reliable because they are stored in browsers (session/cookies, browser cache, browser's local Storage/session Storage). All of which can get easily deleted if your browser gets updated or if you're watching on a different browser or on a different machine
</p>
<p>
	There are some TV series that are notoriously long. It's easy to get lost and forget where were you, this is where our website comes in rescue.
</p>
<p>
	For each series there is a separate folder.
</p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}