{% extends 'index.html' %}
{% load static %}
{% block title %} <title>Edit Series</title> {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/formstyle.css' %}">
{% endblock %}

{% block content %}
<div id="content-supercontainer">
	<div id="content-midcontainer">
		<div id="content-lastcontainer">
			<br>
			<h1 id="heading" style="text-align: center;">Edit Series</h1><br />
			<div style="display: flex; align-items: center; justify-content: center;">
        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" id="delete-button">Delete this Series</button>
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
                <strong id="error" style="color: red;">
                	{{ error|escape }}
                </strong>
            {% endfor %}
          {% endfor %}
        {% for error in form.non_field_errors %}
          <strong id="error" style="color: red;">
          	{{ error|escape }}
          </strong>
        {% endfor %}
        {% endif %}
        {% if messages %}
		       {% for msg in messages %}
  				    <strong id="error" style="color: red;">
            		{{msg}}
            	</strong>
		       {% endfor %}
	       {% endif %}
      </div><br />
			<form method="POST"> {% csrf_token %}
				{% for field in form %}
          {{ field.label_tag }} {{ field }}<br><br>
        {% endfor %}
    		<button type="submit" class="btn btn-primary">Save changes</button>
    		<br><br>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This action cannot be undone
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form  method="POST" class="delete-form"> {% csrf_token %}
            <button type="submit" class="btn btn-danger" name="deletebutton">Yes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<script>
	if (document.getElementById("id_is_multiple_seasons").checked == true) {
	    document.getElementById('id_NoEpisodes').disabled = true;
	    document.getElementById('id_EpisodesWatched').disabled = true;
  	}
  document.getElementById("id_is_multiple_seasons").removeAttribute("class");
	document.getElementById('id_is_multiple_seasons').onchange = function() {
	    document.getElementById('id_NoEpisodes').disabled = this.checked;
	    document.getElementById('id_EpisodesWatched').disabled = this.checked;
	};
	$('form').submit(function(e) {
    $(':disabled').each(function(e) {
        $(this).removeAttr('disabled');
    })
  });
</script>
{% endblock %}