{% extends 'index.html' %}
{% load static %}
{% block title %} <title>Edit Series</title> {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/seasonstyle.css' %}">
{% endblock %}

{% block content %}
	<button class="btn btn-primary" id="add-season-button" data-toggle="modal" data-target="#seasonmodal">Edit {{season.SeasonName}}</button>
	<!-- Season Modal -->
  <div class="modal fade" id="seasonmodal" tabindex="-1" role="dialog" aria-labelledby="SeasonModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="season-title">Add season</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="SeasonsForm"> {% csrf_token %}
            {% for field in form %}
              {{ field.label_tag }} {{ field }}<br>
            {% endfor %}
            <div style="display: flex; align-items: center; justify-content: center;">
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                    <strong id="error" style="color: red;">
                      {{ error|escape }}
                    </strong>
                    <script>$("#seasonmodal").modal('show');</script>
                  {% endfor %}
                {% endfor %}
              {% for error in form.non_field_errors %}
                <strong id="error" style="color: red;">
                  {{ error|escape }}
                </strong>
                <script>$("#seasonmodal").modal('show');</script>
              {% endfor %}
              {% endif %}
              {% if messages %}
                 {% for msg in messages %}
                    <strong id="error" style="color: red;">
                      {{msg}}
                    </strong>
                 {% endfor %}
                 <script>$("#seasonmodal").modal('show');</script>
               {% endif %}
            </div><br />
         </form>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" name="season" class="btn btn-primary" form="SeasonsForm">Add</button>
      </div>
    </div>
  </div>
  </div>

  <div id="Episodes">
    <ul class="ulElement">
      {% for i in ListTotalEpisodesWatched %}
        <li class="liElement">
          <a class="anchor-watched" href="#">{{i}}</a>
        </li>
      {% endfor %}
      {% for i in ListUnwatchedEpisodes %}
        <li class="liElement">
          <a class="anchor" href="#">{{i}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <br /><br /><br /><br />
{% endblock %}