{% extends 'index.html' %}
{% load static %}
{% block title %} <title>Edit Series</title> {% endblock %}
{% block style %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
<link rel="stylesheet" href="{% static 'css/seriespage.css' %}">
{% endblock %}

{% block content %}
{% with series_slug=series.slug %} 
  <div id="ImageCover-container">
    {% if series.CoverImage.name == '/noimg.png' or not series.CoverImage %}
      <h1 id="CoverImage-SeriesName" style="color: black;">{{series.SeriesName}}</h1>
    {% elif series.CoverImage %}
      <img id="CoverImage" src="{{series.CoverImage.url}}" alt="Image">
      <h1 id="CoverImage-SeriesName">{{series.SeriesName}}</h1>
    {% endif %}
  </div>
  <hr id="bottom-border">
  <div id="progress">
    <p>You have watched:</p>
    <div class="progress" style="height: 20px;">
      <div class="progress-bar" role="progressbar" style="width: {{percent}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{percent}}%</div>
    </div>
  </div>
  <br /><br />
  {% if series.is_multiple_seasons %}
    <button class="btn btn-primary" id="add-season-button" data-toggle="modal" data-target="#seasonmodal">Add a season</button>
    <a href="{% url 'editseries' series.slug %}" class="btn btn-primary" id="edit-series-button">Edit Series</a>
  {% else %}
    <a href="{% url 'editseries' series.slug %}" class="btn btn-primary" id="edit-series-button-only">Edit Series</a>
  {% endif %}

  <!-- Series Modal -->
  <div class="modal fade" id="editseriesmodal" tabindex="-1" role="dialog" aria-labelledby="SeriesModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 40%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="series-title">Edit Series</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="SeriesForm" enctype="multipart/form-data"> {% csrf_token %}
          {% for seriesfield in seriesform %}
          {{ seriesfield.label_tag }} {{ seriesfield }}<br>
          {% endfor %}
          <strong id="errormsg" style="color: red;">
            {% if seriesform.errors %}
                {% for field in seriesform %}
                  {% for error in field.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endfor %}
              {% for error in seriesform.non_field_errors %}
                {{ error|escape }}
                <script>$("#editseriesmodal").modal('show');</script>
              {% endfor %}
            {% endif %}
          </strong>
       </form>
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" name="series" class="btn btn-primary" form="SeriesForm">Save Changes</button>
    </div>
  </div>
  </div>
  </div>

  <!-- Season Modal -->
  <div class="modal fade" id="seasonmodal" tabindex="-1" role="dialog" aria-labelledby="SeasonModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="season-title">Add season</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="SeasonsForm"> {% csrf_token %}
            {% for field in form %}
              {{ field.label_tag }} {{ field }}<br>
            {% endfor %}
            <div style="display: flex; align-items: center; justify-content: center;">
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                    <strong id="error" style="color: red;">
                      {{ error|escape }}
                    </strong>
                    <script>$("#seasonmodal").modal('show');</script>
                  {% endfor %}
                {% endfor %}
              {% for error in form.non_field_errors %}
                <strong id="error" style="color: red;">
                  {{ error|escape }}
                </strong>
                <script>$("#seasonmodal").modal('show');</script>
              {% endfor %}
              {% endif %}
              {% if messages %}
                 {% for msg in messages %}
                    <strong id="error" style="color: red;">
                      {{msg}}
                    </strong>
                 {% endfor %}
                 <script>$("#seasonmodal").modal('show');</script>
               {% endif %}
            </div><br />
         </form>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" name="season" class="btn btn-primary" form="SeasonsForm">Add</button>
      </div>
    </div>
  </div>
  </div>

  <div id="season-container">
  	{% for season in seasons %}
    <a href="{% url 'seasonspage' series.slug season.slug %}" style="text-decoration: none;">
    	<div id="season">
    		<p id="season-name">{{season.SeasonName}}</p>
    	</div>
    </a>
  	{% endfor %}
  </div>
  {% endwith %}

  {% if series.is_multiple_seasons != True %}
    <div>
      {% for i in ListTotalEpisodes %}
        <ul>
          <li>
            <a href="#">{{i}}</a>
          </li>
        </ul>
      {% endfor %}
    </div>
  {% endif %}
<script>

  if (document.getElementById("id_is_multiple_seasons").checked == true) {
    document.getElementById('id_NoEpisodes').disabled = true;
    document.getElementById('id_EpisodesWatched').disabled = true;
  }
</script>

<script>
  document.getElementById("id_is_multiple_seasons").removeAttribute("class");
  document.getElementById('id_is_multiple_seasons').onchange = function() {
    document.getElementById('id_NoEpisodes').disabled = this.checked;
    document.getElementById('id_EpisodesWatched').disabled = this.checked;
  };
  $('form').submit(function(e) {
    $(':disabled').each(function(e) {
        $(this).removeAttr('disabled');
    })
  });

  $('#seasonmodal').on('hidden.bs.modal', function () {
    window.location.reload();
    window.location.href = window.location.href;
  });

  const colorThief = new ColorThief();
  const img = document.getElementById('CoverImage');
  const hr = document.getElementById('bottom-border');

  // Make sure image is finished loading
  if (img.complete) {
    var rgb = colorThief.getColor(img);
    //console.log(`rgb(${rgb[0]}, ${rgb[1]}, ${rgb[2]})`);
    hr.style.color = `rgb(${rgb[0]}, ${rgb[1]}, ${rgb[2]})`;
  } else {
    image.addEventListener('load', function() {
      var rgb = colorThief.getColor(img);
      //console.log(`rgb(${rgb[0]}, ${rgb[1]}, ${rgb[2]})`);
      hr.style.color = `rgb(${rgb[0]}, ${rgb[1]}, ${rgb[2]})`;
    });
  }
</script>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}