{% extends 'index.html' %}
{% load static %}
{% block title %} <title>Series</title> {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/seriesstyle.css' %}">
{% endblock %}
{% block content %}
<button id="create-series-btn" class="btn btn-primary" data-toggle="modal" data-target="#seriesmodal">Add series</button>

<div class="dropdown" id="LayoutDropdown">
  <button id="layout-btn" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Layout
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a id="link" class="dropdown-item active" href="{% url 'series' %}">Grid</a>
      <a id="link" class="dropdown-item" href="{% url 'serieslist' %}">List</a>
      <a  id="link" class="dropdown-item" href="{% url 'seriessimple' %}">Simple</a>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="seriesmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create new series</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="SeriesForm" enctype="multipart/form-data"> {% csrf_token %}
        	{% for field in form %}
        	{{ field.label_tag }} {{ field }}<br />
        	{% endfor %}
        	<strong id="errormsg" style="color: red;">
         </strong>
       </form>
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" name="series" class="btn btn-primary" form="SeriesForm">Create</button>
    </div>
  </div>
</div>
</div>

<div id="series-root-container">
    {% for series in obj %}
    <a href="{% url 'seriespage' series.slug %}" style="text-decoration: none;">
    <div class="series-card">
     {% if series.CoverImage %}
     <img id="CoverImage" src="{{series.CoverImage.url}}" alt="Img">
     {% endif %}
     <div class="series-container">
        <p>{{ series.SeriesName }}</p>
        <p style="position: relative; bottom: 5px;">
          {% if not series.is_multiple_seasons %}
            {{series.EpisodesWatched}}/{{series.NoEpisodes}} Watched</p>
          {% endif %}
      </div>
    </div>
    </a>
    {% endfor %}
</div>
{% if not obj %}
  <div id="noseries">
    <h1>You have no series yet.</h1>
  </div>
{% endif %}

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<script>
  `{% if form.non_field_errors %}`
    $("#errormsg").html( `{{ form.non_field_errors|striptags }}` );
    $("#seriesmodal").modal('show');
  `{% endif %}`

  {% if messages %}
  {% for msg in messages %}
    $("#errormsg").html( `{{ msg }}` );
  {% endfor %}
    $("#seriesmodal").modal('show');
  {% endif %}

  document.getElementById("id_is_multiple_seasons").removeAttribute("class");
  document.getElementById('id_is_multiple_seasons').onchange = function() {
    document.getElementById('id_NoEpisodes').disabled = this.checked;
    document.getElementById('id_EpisodesWatched').disabled = this.checked;
  };
  if (document.getElementById("id_is_multiple_seasons").checked == true) {
    document.getElementById('id_NoEpisodes').disabled = true;
    document.getElementById('id_EpisodesWatched').disabled = true;
  }
  $('form').submit(function(e) {
    $(':disabled').each(function(e) {
        $(this).removeAttr('disabled');
    })
  });
</script>
{% endblock %}