* { font-family: 'Oxygen', sans-serif; box-sizing: border-box; }
html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
*:before, *:after {
 box-sizing: border-box;
}
#CompanyName{
  font-family: 'Ranchers', cursive;
  font-size: 25px;
}
#logoutbtn {
  background-color: #dc3545;
  color: #FFFFFF;
  font-weight: : bold;
}
#logoutbtn:hover { background-color: red; }
#hover_element:hover {
  background-color: #007bff;
  color: #FFFFFF;
}
#dropdown-menu{ overflow: hidden; }
#responsive-navbar, #responsive-navbar2 { display: none; }
@media only screen and (max-width: 991px) {
  #responsive-navbar, #responsive-navbar2 { display: block; }
  #search-inputtype, #search-button, #navbar-dropdown, #navbar-buttons { display: none; }
}
@media only screen and (max-width: 500px) {
  #content-container-signup, #content-container-profile, #content-container-login { width: 90%; }
}
/*------------------Footer--------------------*/
body{
  display: flex;
  flex-direction: column;
}
#root-content-container {
  flex: 1 0 auto;
}
#footer {
  background-color: #e3f2fd; /*#f8f9fa*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  height: 200px;
  flex-shrink: 0;
}
#footer{ flex-shrink: 0; }
#footer-links{ font-size: 150%; }
#footer-icons {
  font-size: 250%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-icons > a{
  padding-left: 50px;
  padding-right: 50px;
}