#slogan {
  color: black;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  position: relative;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
#bg-button{
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: 3px solid black;
  border-radius: 115px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#button-container {
  position: relative;
  left: 50%;
  top: 28%;
  transform: translate(-50%, -50%);
}
#bg-button:hover{ color: white; background-color: black;}
#start-container {
  width: 100%;
  height: 700px;
  background-image: url('/static/img/home_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#parallax {
  width: 100%;
  height: 900px;
  background-image: url('/static/img/ocean.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#description {
  position: relative;
  top: 5%;
  color: white;
  padding-left: 10px;
}
#description > p {
  font-size: 20px;
  width: 60%;
}