#edit-season-button {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
}
#layout-button {
    position: relative;
    left: 80%;
    top: 75px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
}
#Episodes-container {
    width: 100%;
    position: absolute;
    top: 40%;
}
#Episodes {
	width: 50%;
	position: relative;
	left: 26%;
}
#spacing-super-container {
    position: relative;
    top: 10%;
}
.ulElement {
    color: #EEE;
    box-sizing: border-box;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin: 0;
    list-style: none;
}
.liElement {
    color: #EEE;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    list-style: none;
    box-sizing: border-box;
    margin: .1em 0;
    display: inline;
}
.anchor-watched {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 6px;
    box-sizing: border-box;
    flex: none;
    transition: margin .3s,opacity .3s;
    text-align: center;
    border-radius: .25em;
    margin: 3.2px;
    width: 8%;
    background: #0069D9;
    color: #FFFFFF;
    cursor: pointer;
}
.anchor {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 6px;
    box-sizing: border-box;
    flex: none;
    transition: margin .3s,opacity .3s;
    text-align: center;
    border-radius: .25em;
    margin: 3.2px;
    width: 8%;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
}
.anchor-watched:hover {
	background: #1a376b;
	color: white;
	text-decoration: none;
}
.anchor:hover {
	background-color: #6D6E6F;
	color: white;
	text-decoration: none;
}
.progress {
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 70%;
}