#ImageCover-container {
	position: relative;
	left: 55%;
	top: 20%;
	transform: translate(-50%, -50%);
}
#ImageCover {
	width: 35%;
	height: 200px;
	overflow: hidden;
}
#CoverImage {
	width: 35%;
	height: 200px;
}
#CoverImage-SeriesName {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
}
#LandscapeImageCover-container {
	width: 100%;
	height: 500px;
	overflow: hidden;
}
#Landscape-CoverImage {
	width: 100%;
	height: 500px;
	position: relative;
	top: 0;
	background-repeat: no-repeat;
	filter: brightness(50%) blur(5px);
	background-attachment: fixed;
	transform: scale(1.03);
}
#Landscape-CoverImage-SeriesName {
	font-size: 60px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}
#bottom-border{
	border: 10px solid;
  	border-radius: 5px;
  	position: relative;
  	top: 10%;
}
#progress {
	position: relative;
	left: 50%;
	top: 19%;
	transform: translate(-50%, -50%);
	width: 70%;
}
#add-season-button {
	position: relative;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
}
#edit-series-button {
	position: relative;
	left: 70%;
	top: 20%;
	transform: translate(-50%, -50%);	
}
#edit-series-button-only {
	position: relative;
	left: 50%;
	top: 19%;
	transform: translate(-50%, -50%);	
}
#season-container {
	position: relative;
	top: 20%;
	left: 55%;
	top: 40%;
	transform: translate(-50%, -50%);
	width: 100%;
	display: grid;
	grid-gap: 40px;
	grid-row-gap: 100px; 
	grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
	justify-content: center;
	align-items: center;
}
#season {
	width: 100px;
	height: 50px;
	background-color: #007BFF;
	border-radius: 10px;
}
#season:hover {
	background-color: #0365CD;
}
#season-name {
	color: white;
	text-align: center;
	padding-top: 13px;
}
#Episodes {
	width: 50%;
	position: relative;
	left: 51%;
	top: 40%;
	transform: translate(-50%, -50%); 
}
.ulElement {
    color: #EEE;
    box-sizing: border-box;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin: 0;
    list-style: none;
}
.liElement {
    color: #EEE;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    list-style: none;
    box-sizing: border-box;
    margin: .1em 0;
    display: inline;
}
.anchor-watched {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 6px;
    box-sizing: border-box;
    flex: none;
    transition: margin .3s,opacity .3s;
    text-align: center;
    border-radius: .25em;
    margin: 3.2px;
    width: 8%;
    background: #0069D9;
    color: #FFFFFF;
    cursor: pointer;
}

.anchor {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 6px;
    box-sizing: border-box;
    flex: none;
    transition: margin .3s,opacity .3s;
    text-align: center;
    border-radius: .25em;
    margin: 3.2px;
    width: 8%;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
}
.anchor-watched:hover {
	background: #1a376b;
	color: white;
	text-decoration: none;
}
.anchor:hover {
	background-color: #6D6E6F;
	color: white;
	text-decoration: none;
}