/*------------------Series--------------------*/
#create-series-btn {
  position: relative;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
}
#btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
}
#btns-container > a {
  margin: 5px;
}
#noseries {
  position: relative;
  left: 50%;
  top: 220px;
  transform: translate(-50%, -50%);
}
#LayoutDropdown {
  position: relative;
  left: 78%;
  bottom: 3px;
  z-index: 1;
}
#SortByDropdown {
  position: relative;
  left: 87%;
  bottom: 38px;
  z-index: 1;
}
#series-root-container {
  position: relative;
  top: 10%;
  left: 2%;
  width: 100%;
  display: grid;
  grid-gap: 40px;
  grid-row-gap: 100px; 
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  justify-content: space-around;
}
.series-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 150px;
  max-height: 180px;
  transition: transform 0.3s;
  color: black;
}
.series-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.series-container {
  text-align: center;
  margin-top: 4px;
}
.series-container > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#noseries {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#noseries > h1 {
  color: black;
}
#CoverImage{
  width: 150px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s;
}
@media only screen and (max-width: 768px) {
  #LayoutDropdown {
    left: 75%;
  }
}
@media only screen and (max-width: 576px) {
  #LayoutDropdown {
    left: 60%;
  }
  #create-series-btn {
    left: 35%;
  }
  #series-root-container {
    left: 5%;
  }
}
@media only screen and (max-width: 378px) {
  #series-root-container {
    left: 28%;
    top: 5%;
  }
} 