/*------------------Series--------------------*/
#create-series-btn {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}
#noseries {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
}
#LayoutDropdown {
  position: absolute;
  right: 3%;
  top: 100px;
  transform: translate(-50%, -50%);
}
#series-root-container {
  position: relative;
  left: 12%;
  top: 30%;
  transform: translate(-50px, -50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}
#series-root-container > *:not(:first-child){
    margin-top: 30px;
}
#ahref-seriescard {
  width: 100%;
  height: 80px;
  text-decoration: none;
}
#series-card {
  width: 100%;
  height: 80px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: transform 0.3s;
}
#series-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}