/*------------------Series--------------------*/
#create-series-btn {
  position: relative;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
}
#noseries {
  position: relative;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
}
#LayoutDropdown {
  position: relative;
  left: 89%;
  z-index: 1;
}
#series-root-container {
  position: relative;
  top: 10%;
  left: 2%;
  width: 100%;
  display: grid;
  grid-gap: 40px;
  grid-row-gap: 100px; 
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  justify-content: space-around;
}
.series-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 150px;
  max-height: 180px;
  transition: transform 0.3s;
}
.series-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.series-container {
  text-align: center;
  margin-top: 4px;
}
.series-container > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#CoverImage{
  width: 150px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s;
}