/*------------------Series--------------------*/
#create-series-btn {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}
#noseries {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
}
#LayoutDropdown {
  position: absolute;
  right: 3%;
  top: 100px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#series-root-container {
  max-width: 100%;
  position: relative;
  top: 20%;
  left: 43%;
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;*/
  /*border: 1px solid black;*/
}
@media only screen and (max-width: 768px) {
  #LayoutDropdown {
    left: 75%;
  }
  #series-root-container {
    left: 35%;
  }
}
@media only screen and (max-width: 576px) {
  #LayoutDropdown {
    left: 70%;
  }
  #create-series-btn {
    left: 35%;
  }
  #series-root-container {
    left: 30%;
  }
}