/*------------------Series--------------------*/
#create-series-btn {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}
#noseries {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
}
#LayoutDropdown {
  position: absolute;
  right: 3%;
  top: 100px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#series-root-container {
  position: relative;
  top: 20%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 150px;
}
#series-card {
  
}