/*------------------Series--------------------*/
#create-series-btn {
  position: relative;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
}
#noseries {
  position: relative;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
}
#LayoutDropdown {
  position: relative;
  left: 80%;
  bottom: 3px;
  z-index: 1;
}
#series-root-container {
  position: relative;
  left: 12%;
  top: 20%;
  transform: translate(-50px, -50px);
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;*/
  width: 80%;
}
#series-root-container > *:not(:first-child){
    margin-top: 30px;
}
#ahref-seriescard {
  text-decoration: none;
}
#series-card {
  width: 40%;
  height: 80px;
  /*border: 1px solid black;*/      
  /*border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  transition: transform 0.3s;
  position: relative;
  left: 10%;
  top: -100px;
}
#series-card-name {
  display: inline;
  margin-left: 5px;
}
#series-card > p {
  margin-left: 5px;
}
#series-card-name:after {
  content: " \00b7";
}
#CoverImage {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px;
}
#CoverImage-container {
  width: 100px;
}
@media only screen and (max-width: 768px) {
  #LayoutDropdown {
    left: 75%;
  }
}
@media only screen and (max-width: 576px) {
  #LayoutDropdown {
    left: 60%;
  }
  #create-series-btn {
    left: 35%;
  }
}