{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} <title>Change Password</title> {% endblock %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/formstyle.css' %}">
{% endblock %}
{% block content %}
{% if validlink %}
<div id="content-supercontainer">
<div id="content-midcontainer">
  <br>
  <h2 id="heading" style="text-align: center;">Change Password</h2>
  <br><br>
  <div id="content-lastcontainer">
  <form method="post"> {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }}  {{ field|add_class:"form-control" }}<br><br>
	{% if field.errors %}
	<p style="color: red;">{{ field.errors|striptags }}</p> 
	{% endif %}
    {% endfor %}
    <button class="btn btn-outline-dark" type="submit">Change Password</button>
  </form>
  {% else %}
    <div style="display: flex; justify-content: center;">
  <div class="card bg-light text-dark" style="margin-top: 20px;">
    <div class="card-body">
	<p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
	</div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% endif %}
  <br>
 </div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
