{% extends 'index.html' %}
{% block title %} <title>Password changed succesfully</title> {% endblock %}
{% block content %}
  <div style="display: flex; justify-content: center;">
  <div class="card bg-light text-dark" style="margin-top: 20px;">
    <div class="card-body">
	<p>
    Your password has been set. You may go ahead and <a href="{% url 'login' %}" style="color: #1a73e8;">Login</a> now.
  </p>
	</div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}