{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} <title>Request password reset</title> {% endblock %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/formstyle.css' %}">
{% endblock %}
{% block content %}
<div id="content-supercontainer">
<div id="content-midcontainer">
  <br>
  <h2 style="text-align: center;">Reset Password</h2>
  <br><br>
  <div id="content-lastcontainer">
  <form method="post"> {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }}  {{ field|add_class:"form-control" }}<br><br>
	{% if field.errors %}
	<p style="color: red;">{{ field.errors|striptags }}</p> 
	{% endif %}
    {% endfor %}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <br>
 </div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}